{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@angular-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:css/recommended"
  ],
  "plugins": ["css"],
  "env": {
    "es2021": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/member-ordering": ["warn"],
    "no-console": 1
  },
  "ignorePatterns": ["*.js", "*.mdx", "dist/*"]
}
